<nav id="school-nav">
	<div class="grid-x grid-container">
		<div id="header-links">
			<ul id="quick-links" class="clearfix">
				<li><a href="http://mycom.marin.edu">MyCOM</a></li>
				<li><a href="#main" id="skip-to-content">Skip to Content</a></li>
				<li><a href="#footer" id="maps-link">Maps</a></li>
			</ul>

			<gcse:search id="header-search"></gcse:search>
		</div>
	</div>

	<div id="top-nav">
		<ul class="grid-container">
			<li><a href="#">Test - Admissions</a></li>
			<li><a href="#">Test - Academics</a></li>
			<li><a href="#">Test - Students</a></li>
			<li><a href="#">Test - Campus Life</a></li>
			<li><a href="#">Test - Faculty/Staff</a></li>
			<li><a href="#">Test - Administration</a></li>
			<li><a href="#">Test - About COM</a></li>
			<li><a href="#">Test - Support COM</a></li>
		</ul>
	</div>

	<div id="sub-nav">
		<div class="grid-container">
			<ul>
				<li class="home"><a href="#">Admissions Home</a></li>
				<li><a href="#">Apply for Admission</a></li>
				<li><a href="#">Enrollment Services</a></li>
				<li><a href="#">High School Programs</a></li>
				<li><a href="#">Orientation</a></li>
				<li><a href="#">Paying for College</a></li>
				<li><a href="#">Placement Testing</a></li>
				<li><a href="#">Register for Classes</a></li>
			</ul>
			<ul>
				<li class="home"><a href="#">Academics Home</a></li>
				<li><a href="#">Academic Calendar</a></li>
				<li><a href="#">Academic Programs</a></li>
				<li><a href="#">Career &amp; Technical Education</a></li>
				<li><a href="#">Class Schedules &amp; Catalogs</a></li>
				<li><a href="#">Community Education</a></li>
				<li><a href="#">Course Information</a></li>
				<li><a href="#">Degrees &amp; Certificates</a></li>
				<li><a href="#">Distance Education</a></li>
				<li><a href="#">Learning Communities</a></li>
			</ul>
			<ul>
				<li class="home"><a href="#">Students Home</a></li>
				<li><a href="#">Bookstore</a></li>
				<li><a href="#">Counseling</a></li>
				<li><a href="#">International Students</a></li>
				<li><a href="#">Libraries</a></li>
				<li><a href="#">Student Accessibility Services</a></li>
				<li><a href="#">Student Services</a></li>
				<li><a href="#">Transfer &amp; Career</a></li>
				<li><a href="#">Tutoring / Labs</a></li>
				<li><a href="#">Veteran Services</a></li>
			</ul>
			<ul>
				<li class="home"><a href="#">Campus Life Home</a></li>
				<li><a href="#">Arts and Lectures</a></li>
				<li><a href="#">Athletics</a></li>
				<li><a href="#">COM Card / Student ID</a></li>
				<li><a href="#">Events and Activities</a></li>
				<li><a href="#">Fine Arts Gallery</a></li>
				<li><a href="#">Performing Arts</a></li>
				<li><a href="#">Science Museum</a></li>
				<li><a href="#">Student Government</a></li>
				<li><a href="#">Student Organizations</a></li>
			</ul>
			<ul>
				<li class="home"><a href="#">Faculty/Staff  Home</a></li>
				<li><a href="#">Academic Senate</a></li>
				<li><a href="#">Classified Senate</a></li>
				<li><a href="#">Curriculum Committee</a></li>
				<li><a href="#">Employee Directory</a></li>
				<li><a href="#">Faculty Handbook</a></li>
				<li><a href="#">Participatory Governance</a></li>
				<li><a href="#">Professional Development</a></li>
				<li><a href="#">Program Review</a></li>
				<li><a href="#">Student Learning Outcomes</a></li>
				<li><a href="#">Staff Handbook</a></li>
			</ul>
			<ul>
				<li class="home"><a href="#">Administration Home</a></li>
				<li><a href="#">Campus Police</a></li>
				<li><a href="#">College Operations</a></li>
				<li><a href="#">Fiscal Services</a></li>
				<li><a href="#">Human Resources</a></li>
				<li><a href="#">Information Technology</a></li>
				<li><a href="#">Maintenance &amp; Operations</a></li>
				<li><a href="#">Office of the President</a></li>
				<li><a href="#">Planning &amp; Research</a></li>
				<li><a href="#">Student Services / Learning</a></li>
			</ul>
			<ul>
				<li class="home"><a href="#">About COM</a></li>
				<li><a href="#">Accreditation</a></li>
				<li><a href="#">Board of Trustees</a></li>
				<li><a href="#">Educational Master Plan</a></li>
				<li><a href="#">Fact Book</a></li>
				<li><a href="#">History &amp; Highlights</a></li>
				<li><a href="#">Mission</a></li>
				<li><a href="#">Policies &amp; Procedures</a></li>
			</ul>
			<ul>
				<li class="home"><a href="#">Support COM</a></li>
				<li><a href="#">Alumni / Donor Stories</a></li>
				<li><a href="#">Establish a Scholarship</a></li>
				<li><a href="#">Giving to COM</a></li>
				<li><a href="#">Pillars of Philanthropy</a></li>
				<li><a href="#">Planned Giving</a></li>
				<li><a href="#">President's Circle</a></li>
			</ul>
			<a href="#" id="touch-nav-back">&lt; Back</a>
		</div>
	</div>
</nav>