<nav class="grid-container grid-x">
	<ul class="address cell">
		<li>
			<h4>Test Kentfield Campus</h4>
			835 College Ave.<br />
			Kentfield, CA 94904<br />
			<a href="https://goo.gl/maps/a59H1">
				<svg class="icon-gold-map-pin"><use xlink:href="/themes/custom/echotimes/images/sprite.svg#icon-gold-map-pin" /></svg>
				Google Map
			</a> | <a "http://{{com_url_prefix}}campuses.marin.edu/campus-maps">Campus Map</a>
		</li>
		<li>
			<h4>Test Indian Valley Campus</h4>
			1800 Ignacio Blvd.<br />
			Novato, CA 94949<br />
			<a href="https://goo.gl/maps/yBkRc">
				<svg class="icon-gold-map-pin"><use xlink:href="/themes/custom/echotimes/images/sprite.svg#icon-gold-map-pin" /></svg>
				Google Map
			</a> | <a href="http://{{com_url_prefix}}campuses.marin.edu/campus-maps#ivc">Campus Map</a>
		</li>
	</ul>
	<ul class="links cell">
		<li><a href="http://accreditation.marin.edu">Accreditation</a></li>
		<li><a href="http://www1.marin.edu/ada-accessibility">ADA Accessibility</a></li>
		<li><a href="https://www.boarddocs.com/ca/marin/Board.nsf/Public">Board Meeting Agenda</a></li>
		<li><a href="http://policies.marin.edu">Campus Policies</a></li>
		<li><a href="http://www1.marin.edu/consumer-information">Consumer Information</a></li>
		<li><a href="http://policies.marin.edu/discrimination-harassment">Discrimination, Harassment, &amp; Title IX</a></li>
	</ul>
	<ul class="links cell">
		<li><a href="http://academics.marin.edu">Academic Programs</a></li>
		<li><a href="http://www1.marin.edu/schedule">Class Schedule &amp; Catalogs</a></li>
		<li><a href="https://netapps.marin.edu/Apps/Directory/CourseSearch.aspx">Course Information</a></li>
		<li><a href="https://netapps.marin.edu/Apps/Directory/DegreeSearch.aspx">Degrees &amp; Certificates</a></li>
		<li><a href="http://www1.marin.edu/gainful-employment">Gainful Employment</a></li>
		<li><a href="https://netapps.marin.edu/Apps/Directory/ScheduleSearch.aspx">Schedule Search</a></li>
	</ul>
	<ul class="links cell">
		<li><a href="http://ss.marin.edu/cdp">Child Development Program</a></li>
		<li><a href="http://es.marin.edu/registration/enrollment-priority">Enrollment Priority</a></li>
		<li><a href="http://ss.marin.edu/eops-calworks">EOPS/CARE &amp; CalWORKs</a></li>
		<li><a href="http://ss.marin.edu/outreach">Outreach</a></li>
		<li><a href="http://ss.marin.edu/health-services">Student Health Services</a></li>
		<li><a href="http://initiatives.marin.edu/ztc">Zero Textbook Cost Program</a></li>
	</ul>
	<ul class="links cell">
		<li><a href="https://netapps.marin.edu/Apps/Directory/EmployeeSearch.aspx">Employee Directory</a></li>
		<li><a href="http://jobs.marin.edu">Employment</a></li>
		<li><a href="http://www1.marin.edu/facilities-rental">Facilities Rental</a></li>
		<li><a href="http://forms.marin.edu">Forms</a></li>
	</ul>
</nav>