.empty-block {
	display: none;
}

.block-subtheme-page-title,
.block-pagetitle {
  width: 100%;
}

/* BLOCK: PANEL
----------------------------------------------- */

.block-type-panel {
	color: #fff;
	font-size: 1.75rem;
	font-weight: 700;
	text-shadow: 0 2px 2px #333;
	width: 100%;
}

.block-type-panel.grid.grid-size-4 {
	font-size: 1rem;
}

#region-content .block-type-panel, #content-bottom .block-type-panel {
    margin-bottom: 0;
    margin-top: 0;
}

@media(min-width:901px) {
	.block-type-panel {
		font-size: 2.5rem;
	}

	.block-type-panel.grid.grid-size-4 {
		font-size: 1.5rem;
	}
}




.block-type-panel .field-name-field-item > .field-items > .field-item {
	position: relative;
	width: 100%;
}

.block-type-panel .paragraph--type--image-based-block-item:not([data-parallax-background]) {
	background-position: center center;
	background-size: cover;
}

.block-type-panel .paragraph--type--image-based-block-item {
	background-repeat: no-repeat;
	height: 0;
	padding-top: 35.75%;
	position: relative;
}

.block-type-panel .field-name-field-link {
    bottom: 1rem;
    color: #fff;
    left: 0;
    padding: 1rem 3rem 0;
	position: absolute;
	width: 100%;
}

.block-type-panel.centered .field-name-field-link {
	bottom: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(50%);
}

.block-type-panel .field-name-field-link .field-item {
	margin: auto;
	max-width: 75rem;
}

.block-type-panel .field-name-field-link a {
	color: #fff;
}


.block-type-panel.fullwidth {
	min-width: 100vw;
	padding-left: 0;
	padding-right: 0;
	width: 100vw;
}

@media(min-width:1201px) {
	#main-content .block-type-panel.fullwidth {
		transform: translateX( calc( ( 100vw - 1200px + 1rem) / -2 ) );
	}
}

@media(min-width:901px) {
	.block-type-panel.grid .field-name-field-item > .field-items {
		display: flex;
		flex-wrap: wrap;
	}
}

@media(min-width:901px) {
	.block-type-panel.grid .field-name-field-item > .field-items > .field-item {
		width: 50%;
	}

	.block-type-panel.grid.grid-size-4 .field-name-field-item > .field-items > .field-item {
		width: 25%;
	}
}

@media(max-width:900px) and (min-width:601px) {
	.block-type-panel.grid .field-items {
		display: flex;
		flex-wrap: wrap;
	}

	.block-type-panel.grid.grid-size-4 .field-name-field-item > .field-items > .field-item {
		width: 50%;
	}
}

.block-type-panel.grid .paragraph--type--image-based-block-item {
  height: 0;
	padding-top: 71.5%;
}

.block-type-panel .paragraph--type--image-based-block-item {
	background-position: 50% var(--parallax-transform);
	background-size: auto 130%;
}






/* BLOCK: CTA
----------------------------------------------- */
.block-type-cta {
	width: 100%;
}

.block-cta-ctas {
	display: flex;
  flex-wrap: wrap;
}

#region-content .block-type-cta, #content-bottom .block-type-cta {
    margin-bottom: 0;
    margin-top: 0;
}

@media(min-width:1201px) {
	#content-bottom .block-type-cta {
		min-width: 100vw;
		transform: translateX(calc((100vw - 74rem)/ -2));
	}
}

.grid-padding-x .block-type-cta {
	padding-left: 0;
    padding-right: 0;
}

.block-type-cta .field-item a {
	color: #fff !important;
	display: block;
	font-size: 1.125rem;
  font-weight: 900;
  padding-right: 1.5rem;
	position: relative;
	text-transform: uppercase;
}

.block-type-cta .field-item.background-light-gray a {
	color: var(--muted-gold) !important;
}

.block-type-cta .field-item a:after {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid var(--muted-gold);
	content:"";
	display: block;
	height: 0;
	margin-right: 0;
	position: absolute;
	right: 0;
	top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
	width: 0;
}

.block-type-cta .field-item:is(.background-com-gold, .background-muted-gold, .background-lemon-curry) a:after {
	border-left-color: #fff;
}

.block-type-cta > .field-item:hover a:after {
	margin-right: -.5rem;
}

.block-type-cta > .field-item.background-muted-gold a:after {
	border-left-color: #fff;
}

.block-type-cta .image {
    width: 100%;
}

@media(min-width:901px) {
	.block-type-cta .image {
	    width: 50%;
	}
}

.block-type-cta .image img {
	height: 300px;
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
}

.block-cta-ctas > .field-item {
   	align-items: flex-end;
   	cursor: pointer;
    display: flex;
    padding: 2.25rem 1.875rem;
    position: relative;
    width: 100%;
}

.block-cta-ctas > .field-item:before {
	background: rgba(0,0,0,.1);
	bottom: 0;
	content:"";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all .3s;
}

.block-cta-ctas > .field-item:hover:before {
	opacity: 1;
}

@media(min-width:901px) {
	.block-cta-ctas > .field-item:nth-child(2),
	.block-cta-ctas > .field-item:nth-child(3) {
		order: -1;
		width: 25%;
	}
}

@media(min-width:601px) {

	.block-cta-ctas > .field-item {
		width: 50%;
	}

	.block-cta-ctas > .field-item:nth-child(n + 4):nth-child(even):last-child {
		width: 100%;
	}
}

/*@media(min-width:901px) {
	.block-cta-ctas > .field-item:nth-last-child(4),
	.block-cta-ctas > .field-item:nth-last-child(3) {
	    width: 25%;
	}
}*/

@media(min-width:601px) {
	.block-cta-ctas > .field-item:nth-last-child(2),
	.block-cta-ctas > .field-item:nth-last-child(1) {
	    width: 50%;
	}
}

.block-type-cta .paragraph--type--link-color-block {
	width: 100%;
}

.block-type-cta > .field-item .field-item {
	margin-bottom: 0;
}







[class*=block-grid-] {
	display: block;
	padding: 0;
	margin: 0 -0.625rem
}

[class*=block-grid-]:before,[class*=block-grid-]:after {
	content: " ";
	display: table
}

[class*=block-grid-]:after {
	clear: both
}

[class*=block-grid-]>li {
	display: block;
	float: left;
	height: auto;
	padding: 0 .625rem 1.25rem
}

@media only screen {
	.small-block-grid-1>li {
			list-style: none;
			width: 100%
	}

	.small-block-grid-1>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-1>li:nth-of-type(1n+1) {
			clear: both
	}

	.small-block-grid-2>li {
			list-style: none;
			width: 50%
	}

	.small-block-grid-2>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-2>li:nth-of-type(2n+1) {
			clear: both
	}

	.small-block-grid-3>li {
			list-style: none;
			width: 33.3333333333%
	}

	.small-block-grid-3>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-3>li:nth-of-type(3n+1) {
			clear: both
	}

	.small-block-grid-4>li {
			list-style: none;
			width: 25%
	}

	.small-block-grid-4>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-4>li:nth-of-type(4n+1) {
			clear: both
	}

	.small-block-grid-5>li {
			list-style: none;
			width: 20%
	}

	.small-block-grid-5>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-5>li:nth-of-type(5n+1) {
			clear: both
	}

	.small-block-grid-6>li {
			list-style: none;
			width: 16.6666666667%
	}

	.small-block-grid-6>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-6>li:nth-of-type(6n+1) {
			clear: both
	}

	.small-block-grid-7>li {
			list-style: none;
			width: 14.2857142857%
	}

	.small-block-grid-7>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-7>li:nth-of-type(7n+1) {
			clear: both
	}

	.small-block-grid-8>li {
			list-style: none;
			width: 12.5%
	}

	.small-block-grid-8>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-8>li:nth-of-type(8n+1) {
			clear: both
	}

	.small-block-grid-9>li {
			list-style: none;
			width: 11.1111111111%
	}

	.small-block-grid-9>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-9>li:nth-of-type(9n+1) {
			clear: both
	}

	.small-block-grid-10>li {
			list-style: none;
			width: 10%
	}

	.small-block-grid-10>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-10>li:nth-of-type(10n+1) {
			clear: both
	}

	.small-block-grid-11>li {
			list-style: none;
			width: 9.0909090909%
	}

	.small-block-grid-11>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-11>li:nth-of-type(11n+1) {
			clear: both
	}

	.small-block-grid-12>li {
			list-style: none;
			width: 8.3333333333%
	}

	.small-block-grid-12>li:nth-of-type(1n) {
			clear: none
	}

	.small-block-grid-12>li:nth-of-type(12n+1) {
			clear: both
	}
}

@media only screen and (min-width: 40.063em) {
	.medium-block-grid-1>li {
			list-style:none;
			width: 100%
	}

	.medium-block-grid-1>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-1>li:nth-of-type(1n+1) {
			clear: both
	}

	.medium-block-grid-2>li {
			list-style: none;
			width: 50%
	}

	.medium-block-grid-2>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-2>li:nth-of-type(2n+1) {
			clear: both
	}

	.medium-block-grid-3>li {
			list-style: none;
			width: 33.3333333333%
	}

	.medium-block-grid-3>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-3>li:nth-of-type(3n+1) {
			clear: both
	}

	.medium-block-grid-4>li {
			list-style: none;
			width: 25%
	}

	.medium-block-grid-4>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-4>li:nth-of-type(4n+1) {
			clear: both
	}

	.medium-block-grid-5>li {
			list-style: none;
			width: 20%
	}

	.medium-block-grid-5>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-5>li:nth-of-type(5n+1) {
			clear: both
	}

	.medium-block-grid-6>li {
			list-style: none;
			width: 16.6666666667%
	}

	.medium-block-grid-6>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-6>li:nth-of-type(6n+1) {
			clear: both
	}

	.medium-block-grid-7>li {
			list-style: none;
			width: 14.2857142857%
	}

	.medium-block-grid-7>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-7>li:nth-of-type(7n+1) {
			clear: both
	}

	.medium-block-grid-8>li {
			list-style: none;
			width: 12.5%
	}

	.medium-block-grid-8>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-8>li:nth-of-type(8n+1) {
			clear: both
	}

	.medium-block-grid-9>li {
			list-style: none;
			width: 11.1111111111%
	}

	.medium-block-grid-9>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-9>li:nth-of-type(9n+1) {
			clear: both
	}

	.medium-block-grid-10>li {
			list-style: none;
			width: 10%
	}

	.medium-block-grid-10>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-10>li:nth-of-type(10n+1) {
			clear: both
	}

	.medium-block-grid-11>li {
			list-style: none;
			width: 9.0909090909%
	}

	.medium-block-grid-11>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-11>li:nth-of-type(11n+1) {
			clear: both
	}

	.medium-block-grid-12>li {
			list-style: none;
			width: 8.3333333333%
	}

	.medium-block-grid-12>li:nth-of-type(1n) {
			clear: none
	}

	.medium-block-grid-12>li:nth-of-type(12n+1) {
			clear: both
	}
}

@media only screen and (min-width: 64.063em) {
	.large-block-grid-1>li {
			list-style:none;
			width: 100%
	}

	.large-block-grid-1>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-1>li:nth-of-type(1n+1) {
			clear: both
	}

	.large-block-grid-2>li {
			list-style: none;
			width: 50%
	}

	.large-block-grid-2>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-2>li:nth-of-type(2n+1) {
			clear: both
	}

	.large-block-grid-3>li {
			list-style: none;
			width: 33.3333333333%
	}

	.large-block-grid-3>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-3>li:nth-of-type(3n+1) {
			clear: both
	}

	.large-block-grid-4>li {
			list-style: none;
			width: 25%
	}

	.large-block-grid-4>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-4>li:nth-of-type(4n+1) {
			clear: both
	}

	.large-block-grid-5>li {
			list-style: none;
			width: 20%
	}

	.large-block-grid-5>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-5>li:nth-of-type(5n+1) {
			clear: both
	}

	.large-block-grid-6>li {
			list-style: none;
			width: 16.6666666667%
	}

	.large-block-grid-6>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-6>li:nth-of-type(6n+1) {
			clear: both
	}

	.large-block-grid-7>li {
			list-style: none;
			width: 14.2857142857%
	}

	.large-block-grid-7>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-7>li:nth-of-type(7n+1) {
			clear: both
	}

	.large-block-grid-8>li {
			list-style: none;
			width: 12.5%
	}

	.large-block-grid-8>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-8>li:nth-of-type(8n+1) {
			clear: both
	}

	.large-block-grid-9>li {
			list-style: none;
			width: 11.1111111111%
	}

	.large-block-grid-9>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-9>li:nth-of-type(9n+1) {
			clear: both
	}

	.large-block-grid-10>li {
			list-style: none;
			width: 10%
	}

	.large-block-grid-10>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-10>li:nth-of-type(10n+1) {
			clear: both
	}

	.large-block-grid-11>li {
			list-style: none;
			width: 9.0909090909%
	}

	.large-block-grid-11>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-11>li:nth-of-type(11n+1) {
			clear: both
	}

	.large-block-grid-12>li {
			list-style: none;
			width: 8.3333333333%
	}

	.large-block-grid-12>li:nth-of-type(1n) {
			clear: none
	}

	.large-block-grid-12>li:nth-of-type(12n+1) {
			clear: both
	}
}


/* BLOCK: WITH CALLOUT CLASS
----------------------------------------------- */
.block.callout {
	background: #f2f2f2;
	border: 1px solid #d8d8d8;
	color: #333;
	margin-bottom: 1.875rem;
	padding: 1.125rem;

	.block-title {
		min-height: unset;
	}

	.button {
			display: block;
	}
}