/* -----------------------------------------------
/*  PAGES: EVENTS
----------------------------------------------- */

.type-event.mini {
	margin-bottom: .75rem !important;
}

.type-event.teaser {
	margin-bottom: 2rem;
	margin-top: 1.25rem;
}

.type-event .layout-builder-item {
	margin-bottom: 0;
}

.type-event .field--name-field-date .month,
.type-event .field--name-field-date .day,
.type-event.teaser .field-field_date {
	color: #4c5762;
	display: block;
	font-weight: 500;
	line-height: 1.25;
	text-align: center;
	text-transform: uppercase;
	width: 70px;
}

.type-event.teaser .field-title + .field-field_date .field--node-field-date {
	text-align: left;
}

.type-event .field--name-field-date .month,
.type-event.teaser .field-field_date .month {
	font-size: 1rem;
}

.type-event .field--name-field-date .da,
.type-event.teaser .field-field_date .day {
	font-size: 1.6875rem;
}


.type-event.teaser .cell:has(.block):last-child { 
	display: grid;
	gap: 0.5rem 1rem;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
}

.type-event.teaser :where(.field-title, field-body) {
	grid-column: span 2;
}

.type-event.teaser .cell > .block,
#region-content .type-event.teaser .cell > .block {
	margin-block: 0;
}

.type-event .field-title {
	color: #a47c42;
	font-size: 1.125rem;
	font-weight: 900;
  letter-spacing: 0.012em;
  line-height: 1.3;
  margin: 0 0 .5rem;
  padding-top: 0;
  text-transform: uppercase;   
}

.type-event.teaser .field-title + .field-field_date,
.type-event.teaser .field-field_location {
	display: inline-block;
}

.type-event.teaser .field--name-field-date > .field__item:not(.month):not(.day),
.type-event.teaser .field-field_location {
	color: #ccc;
	padding-bottom: .5rem;
}

.type-event.teaser .field-field_location {
	margin-left: 3rem;
}


.type-event.full {
	padding-top: .75rem;
}

.type-event.full .field-field_date,
.type-event.full .field--name-field-location,
.type-event.full .field--name-field-presenter {
	border-bottom: 1px solid #f7f7f7;
	margin-bottom: 0.5625rem;
	padding-bottom: 0.5625rem;
}


.type-event.full .field-label {
	font-weight: 700;
    text-transform: uppercase;
}


/* -----------------------------------------------
/*  PAGES: EVENTS SINGLE
----------------------------------------------- */

/*
.node-event.view-mode-full .location,
.view-events .location.column {
	text-align: right; 
}
*/



/* ELEMENTS: EVENTS Feed
----------------------------------------------- */


.view .views-exposed-form {
	display: none;
}

.view .tab-controller {

}

.view .tab-controller:before,
.view .tab-controller:after {
	clear: both;
	content: "";
	display: table;
}

.view .tab-controller li {
	background-color: #f7f7f7;
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px 0;
	color: #808080;
	cursor: pointer;
	float: left;
	font-size: 1rem;
	font-weight: 700;
	list-style: none;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	width: 50%;
}

.view .tab-controller li:not(:last-child) {
	border-left-width: 1px;
}

.view .tab-controller li.active {
	background-color: #fff;
	color: #231f20;
}

#edit-submit-events + .ajax-progress { display: none; }

.block .view-events .view-filters + .view-content {
	margin-top: 1.875rem;
}


.view .tab-controller li {
	position: relative;
}

.view .tab-controller li .loader {
	bottom: .75rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}


/*
.block .view-events .view-content:before,
.block .view-events .view-content:after {
	clear: both;
	content: "";
	display: table;
}

.block .view-events .view-content > .row {
	margin: 0 0 1.25em;
}

.view-events .date + div {
	width: calc( 100% - 70px );
}

@media(min-width:63.0625rem) {

	.block .view-events .date {
		padding-left: 0;
	}

}
*/



/*
.block .view-events .title-info h6,
.block .view-events .title-info h6 a,
.block .view-events .title-info .info {
	font-size: 1rem;
	font-weight: 300;
}

.block .view-events .title-info h6 {
	line-height: 1rem;
	margin-bottom: 0;
    padding-bottom: .25rem;
}

.block .view-events .title-info h6 a {
	color: #a47c42;
}

.block .view-events .title-info .info {
	color: #666;

}

.block .view-events .view-footer {
	margin-top: 1rem;
    text-align: center;
}

.block .view-events .view-footer .button {
	margin: 0;
    min-width: 90%;
    max-width: 350px;
}*/

/* END: ELEMENTS: EVENTS Feed
----------------------------------------------- */

/* -----------------------------------------------
/*  END PAGES: EVENTS
----------------------------------------------- */




/* event page block */
/*
.block-com-starter-events-event-info {
	color: #666;
}

.block-com-starter-events-event-info:first-child {
	margin-top: 2.333rem;	
}

.block-com-starter-events-event-info > .field,
.block-com-starter-events-event-info > .text-content {
	margin-bottom: .625rem;
	padding-bottom: .625rem;
}

.block-com-starter-events-event-info > .field:not(:last-child),
.block-com-starter-events-event-info > .text-content:not(:last-child) {
	border-bottom: 1px solid #f7f7f7;
}
 
.block-com-starter-events-event-info .field-label {
	font-weight: 700;
	text-transform: uppercase;
}
*/
